@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$linkcolor: black;
$linkactivecolor: rgb(112, 112, 112);
$font-h: 'Bebas Neue', cursive;
$font-t: 'Roboto', cursive;
$defaultcolor: #e7e7e7;
$selectedcolor: #fcfcfc;
