@import '../../../GlobalStyles/variables';

.main-content {

background-color: black;

}

.footer-head-text {
    font-size: 1.5rem;
}

.footer-text {
    font-size: 1.25rem;
}

ul {
list-style-type: none;
}