@import '../../../GlobalStyles/variables';

// .padikursus-text {

// border: solid black 1px;
// border-right: none;

// }

// .padikursus-logo {

//     border: solid black 1px;
//     border-left: none;
    
// }

.testbox {
    outline: solid black 1px;
    outline-offset: -3rem;
}

.img-padi {

    width: 20rem;
    height: auto;
}
